html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Poiret_One;
  src: url(../fonts/Poiret_One.ttf);
}

@font-face {
  font-family: "Calibre_Light";
  src: url("../fonts/Calibre-Light.ttf");
}
/*шапка*/
.icon {
  width: 2.5em;
  margin-right: 1em;
}

.logo{
  width: 60%;
  position: relative;
  left: 20%;
}

.right-menu{
  position: relative;
  right: 5%;
}

.back{
  width: 100%;
}

.menu{
  background-color: rgba(72, 72, 72, 0.7);
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 6px -4px #6d6969;
}
/*подвал*/
.footer{
  font-family: Poiret One;
  font-size: 15pt;
  color: black;
  position: absolute;
  bottom: 0;
  left: 5%;
}
/*форма логина*/
.login-form{
  font-family: Poiret One;
  font-size: 2em;
  color: rgba(72, 72, 72, 0.7);
  font-weight: bold;
  width: 20%;
  padding: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 75%;
  text-align: center;
  border: 1px solid rgba(72, 72, 72, 0.6);
  background-color: rgba(255, 255, 255, 0.65);
}

.form-text{
  color: #535353;
  font-size: 0.6em;
  font-family: Calibre_Light;
}

.form-link{
  color: #535353;
  font-weight: bold;
}

.input{
  width: 60%;
  display: block;
  background: white;
  text-align: center;
  border: 1px solid rgba(72, 72, 72, 0.6);
  outline: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-family: Calibre_Light;
  font-size: 10pt;
  color: black;
}

.button{
  background-color: rgba(72, 72, 72, 0.7);
  display: block;
  text-align: center;
  border: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-family: Poiret One;
  font-size: 18pt;
  color: white;
}
/*галлерея*/
.gallery{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(72, 72, 72, 0.5);
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
}

.gallery-item{
  object-fit: cover;
  width: 30%;
  margin-bottom: 1%;
  font-family: Calibre_Light;
}

.gallery-image{
  width: 400px;
  object-fit: cover;
  height: 400px;
}

/*профиль*/
.profile-container{
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.profile-menu{
  font-family: Calibre_Light;
  font-size: 24pt;
  color: black;
  display: block;
  width: 15%;
  height: 30%;
  padding: 40px;
  text-align: center;
  border: 1px solid rgba(72, 72, 72, 0.6);
  background-color: rgba(255, 255, 255, 0.65);
}

.profile-settings{
  font-family: Calibre_Light;
  border: 1px solid rgba(72, 72, 72, 0.6);
  background-color: rgba(255, 255, 255, 0.65);
  padding: 40px;
  display: block;
  font-size: 14pt;
}

.button-profile-menu{
  background-color: rgba(72, 72, 72, 0.7);
  display: block;
  text-align: center;
  border: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-family: Poiret One;
  font-size: 12pt;
  color: white;
}

.profile-settings-list{
  margin-bottom: 5%;
}

/**** камера *****/

.photo-upload {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.photo-edit__canvas {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 25px auto;
}

.photo-edit #preview, #origin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

#origin {
  visibility: hidden;
}

canvas, video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  display: none;
}

.photo-edit .custom-file-upload img {
  height: 40px;
  margin-right: 15px;
}

.photo-upload label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo-upload label:hover {
  color: #999;
}

.photo-upload p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.photo-upload input, #snapshot {
  display: none;
}

/*** фотография ***/

.photo-container{
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* main */

.user-login {
  font-weight: bold;
}